
body {
	background-color:#F8EEBC;
	font-family: sans-serif;
	margin: 0;
}
.top-container {
  background-color: #F8EEBC;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 25px 16px;
  background: #F5CEB1;
  color: #f1f1f1;
  display: flex;
  justify-content:space-around;
  font-family: 'Josefin Sans', sans-serif;
}

.header a{
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  font-size: 23px;
  padding: 15px;
}
.header a:hover {
  background-color: #FCECF0;
  text-decoration: none;
 }
.headerDos {
  background: #F5CEB1;
  color: #f1f1f1;
  display: flex;
  justify-content:space-around;
  flex: 1;
  visibility: hidden;
}

.headerDos a{
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  font-size: 23px;
  padding: 15px;
}

.headerLeft{
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  display: flex;
}

.headerRight{
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex: 1;
}

.headerRight a{
  font-size: 17px;
}


.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}


.categorias {
  justify-content: flex-end;
}

.interactive-nav input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: 1px solid #ccc;
  font-family: 'Josefin Sans', sans-serif;
}
.interactive-nav{
  display: flex;
  justify-content: flex-end;
}
.interactive-nav a{
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  margin: 15px;

}

.search-icon {
  width: 27px;
	height: 37px;
  padding-top: 10px;
}

.cart-icon {
  width: 27px;
  height: 37px;
  padding-top: 10px;
}

.categorias a{
  padding-left: 3%;
  padding-right: 3%;
}
.searchSpot{
  width: 300px;
  height: 25px;
}
