body {
 background-color: #ffeecc;
    font-family: monospace;
    margin: 0;
}

.footer {
   position: static;
   bottom: 0;
   width: 100%;
   background-color: #DCC4DC;
   color: white;
   text-align: center;
   display: flex;}
   h1{
     background-color: #ffeecc;
        font-family: Courier New;
        margin: 0;
   }
